{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Prequal</title>
    <link rel="icon" type="image/png" href="{% static 'vendor/bulkit/img/favicon.png' %}" />

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/bulkit/css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bulkit/css/app.css' %}">
    <link id="theme-sheet" rel="stylesheet" href="{% static 'vendor/bulkit/css/core.css' %}">

    <!-- Crisp Chat -->
    <script type="text/javascript"> window.$crisp=[];window.CRISP_WEBSITE_ID="550eb891-abe2-4909-81eb-db4b68c88e2f";(function(){ d=document;s=d.createElement("script"); s.src="https://client.crisp.chat/l.js"; s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})(); </script>
    <!-- Crisp Chat -->

</head>

<body class="is-theme-core">
    <div class="pageloader"></div>
    <div class="infraloader is-active"></div>
    <!-- Hero and nav -->
    <div class="hero is-theme-primary is-slant">
        <!-- Hero image -->
        <div id="main-hero" class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-6 caption-column">
                        <h1 class="clean-title light-text">
                            Data Integration for Digital Marketers
                        </h1>
                        <div class="subtitle is-5 no-margin">
                            Combine SEMRush, Google Analytics, and more into AirTable
                        </div>
                        <div class="cta-wrapper">
                            <div class="buttons">
                                <form action="" method="post" class="row">
                                    {% csrf_token %}
                                    <input type="text" class="form-control bg-light border-0 small column is-5"
                                            placeholder="Your Name Here" aria-label="Search"
                                            aria-describedby="basic-addon2" name="prospectName">
                                    <input type="text" class="form-control bg-light border-0 small column is-5"
                                            placeholder="Your Email Here" aria-label="Search"
                                            aria-describedby="basic-addon2" name="prospectEmail"
                                            style="margin-left:5px;"
                                            >
                                    <button class="button button-cta btn-align btn-outlined is-bold light-btn column is-5"
                                            style="margin-top:10px;"
                                    >
                                        Join Our Waiting List
                                    </button>
                                </form>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Product -->
    <div id="product" class="section is-medium is-skewed-sm">
        <div class="container is-reverse-skewed-sm">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">1</div>
                <h2 class="section-title-landing">
                    Data Integration Done Better
                </h2>
            </div>

            <div class="content-wrapper">
                <!-- Icon boxes -->
                <div class="columns is-vcentered">
                    <div class="column is-5 is-offset-1 has-text-centered">
                        <div class="columns is-vcentered has-text-centered is-multiline">
                            <!-- Icon box -->
                            <div class="column is-6">
                                <div class="flex-card icon-card hover-inset">
                                    <img src="{% static 'vendor/bulkit/img/graphics/icons/chrono-core.svg' %}" data-base-url="vendor/bulkit/img/graphics/icons/gateway" data-extension=".svg" alt="">
                                    <div class="icon-card-text is-clean">
                                        Save Time
                                    </div>
                                </div>
                            </div>
                            <!-- Icon box -->
                            <div class="column is-6">
                                <div class="flex-card icon-card hover-inset">
                                    <img src="{% static 'vendor/bulkit/img/graphics/icons/study-core.svg' %}" data-base-url="vendor/bulkit/img/graphics/icons/records" data-extension=".svg" alt="">
                                    <div class="icon-card-text is-clean">
                                        Simplify Procedures
                                    </div>
                                </div>
                            </div>
                            <!-- Icon box -->
                            <div class="column is-6">
                                <div class="flex-card icon-card hover-inset">
                                    <img src="{% static 'vendor/bulkit/img/graphics/icons/cash-core.svg' %}" data-base-url="vendor/bulkit/img/graphics/icons/invoice" data-extension=".svg" alt="">
                                    <div class="icon-card-text is-clean">
                                        Close Better Leads
                                    </div>
                                </div>
                            </div>
                            <!-- Icon box -->
                            <div class="column is-6">
                                <div class="flex-card icon-card hover-inset">
                                    <img src="{% static 'vendor/bulkit/img/graphics/icons/motion-icon-4-core.svg' %}" data-base-url="vendor/bulkit/img/graphics/icons/sync" data-extension=".svg" alt="">
                                    <div class="icon-card-text is-clean">
                                        Make Better Decisions
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Feature text -->
                    <div class="column is-5">
                        <div class="side-feature-text">
                            <div class="button-wrap">
                                <a href="#main-hero" class="button button-cta btn-align raised primary-btn">
                                    Join Our Waiting List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->
    <div id="services" class="section section-feature-grey is-medium is-skewed-sm">
        <div class="container is-reverse-skewed-sm">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
                <div class="bg-number">2</div>
                <h2 class="section-title-landing">
                    Integrate your Process
                </h2>
                <h4>And simplify your business</h4>
            </div>

            <div class="content-wrapper hover-cards">
                <!-- Hover boxes -->
                <div class="columns is-vcentered">
                    <div class="column is-10 is-offset-1">
                        <div class="columns is-vcentered">
                            <div class="column is-6">
                                <!-- Hover box -->
                                <div class="flex-card icon-card-hover first-card light-bordered">
                                    <h3 class="card-title is-clean">
                                        SEMRush &amp; SpyFu
                                    </h3>
                                    <p class="card-description">Connect SEMRush &amp; data to AirTable</p>
                                </div>
                                <!-- Hover box -->
                            </div>
                            <div class="column is-6">
                                <!-- Hover box -->
                                <div class="flex-card icon-card-hover second-card light-bordered">
                                    <h3 class="card-title is-clean">
                                        Google Analytics
                                    </h3>
                                    <p class="card-description">Connect Google Analytics data to AirTable</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-wrap has-text-centered is-title-reveal">
                    <a href="#main-hero" class="button button-cta btn-align raised primary-btn raised">
                        Join Our Waiting List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Side footer -->
    <footer class="footer footer-light-left">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="footer-nav-right">
                        {% comment %} <a class="footer-nav-link" href="/accounts/signup">Sign in</a> {% endcomment %}
                        {% comment %} <a class="footer-nav-link" href="/accounts/login">Sign up</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Side footer -->
    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>
    <!-- /Chat widget -->
    <!-- Concatenated jQuery and plugins -->
    <script src="{% static 'vendor/bulkit/js/app.js' %}"></script>

    <!-- Bulkit js -->
    <script src="{% static 'vendor/bulkit/js/functions.js' %}"></script>
    <script src="{% static 'vendor/bulkit/js/auth.js' %}"></script>
    <script src="{% static 'vendor/bulkit/js/contact.js' %}"></script>
    <script src="{% static 'vendor/bulkit/js/main.js' %}"></script>

    <!-- Landing page js -->
</body>

</html>